@charset "utf-8";
/* CSS Document */



/* 公用代码 */
*{margin:0;padding:0;}
body{font-size:14px;min-width:1200px;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img{border:medium none;font-family: "微软雅黑";color:#333;}
body,button, input, select, textarea{font: 14px/1.5 "Microsoft Yahei",tahoma,Srial,helvetica,sans-serif;}
h1, h2, h3, h4, h5, h6{}
em{font-style:normal;}
ul, ol{list-style: none;}

a{text-decoration: none;color:#333;font-family: "微软雅黑";}
input{font-family: "微软雅黑";}
textarea{font-family: "微软雅黑";}
img{border:0px;  outline-width:0px; vertical-align:top;}
/*.cleafix:after{clear:both;content:"\200B";display:block;/height:0;}*/
.cleafix{zoom:1;}
.fl {float:left;}
.fr {float:right;}
.bginset{background-color:#f5f5f5;}
.w1200{width:1200px;margin-left:auto;margin-right:auto;}

/*header*/
.header{height:150px;background-color:#8c0000;background:#24407f;background-position:top center;}
.top-wrap{height:30px;background:#142f6a;}
.top{height:30px;line-height:30px;}

.top-wel{color:#fff;font-size:12px;}

.top-link a{color:#fff;font-size:12px;}
.top-link a img{margin-right:3px;margin-top:7px;}
.top-link span{color:#fff;margin:0 10px;font-size:12px;}
.top-link a:hover{text-decoration:underline;}

.logo-search{height:120px;}
.logo{margin-top:21px;width:800px;}
.search{text-align:right;width:400px;height:30px;margin-top:44px;position:relative;}
.input-box{height:30px;width:250px;padding-left:10px;line-height:30px;}
.input-btn{height:30px;width:70px;background:url(../img/search-btn.jpg) no-repeat center center;position:absolute;right:0;top:0;}

/*nav-banner*/

.nav-banner{background:#f2eee5;height:480px; }
.list-banner{background:#f2eee5;height:400px; }

.nav{height:50px;line-height:50px; }

.nav li{float:left;height:50px;line-height:50px;width:150px;text-align:center;position:relative;}
.nav li a{display:block;color:#333;font-size:16px; }
.nav li a:hover{background:#142f6a;color:#fff;}
.nav li a.active{background:#142f6a;color:#fff;}
.nav li ul{display:none;position:absolute;top:50px;background:url(../img/nav-bj.png) repeat-x top;background-color:rgba(255,255,255,0.5);}
.nav li:hover ul{display:block;z-index:9999;}
/*fly 鼠标定位在二级导航栏时，一级导航栏字体颜色设为白色、背景改变并且背景透明*/
.nav li:hover{background:#24407f;color:#fff;background-color:rgba(36,64,127,0.7);}
.nav li:hover a{color:#fff;}/*fly 鼠标定位在二级导航栏时，一级导航栏字体颜色设为白色*/
.nav li:hover ul{background:#24407f;background-color:rgba(36,64,127,0.7);}
.nav li:hover ul li{float:none;width:150px;}
.nav li:hover ul li a {display:block;color:#fff;}
.nav li:hover ul li a:hover{background:#142f6a;}




.banner{height:550px; overflow:hidden; position:relative;}
.banner .hd{ height:15px; overflow:hidden; position:absolute; left:45%; bottom:5px; z-index:1; }
.banner .hd ul{ overflow:hidden; zoom:1; float:left;  }
.banner .hd ul li{ float:left; margin-right:10px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer;background: url(../img/banner-icon.png) no-repeat center center;}
.banner .hd ul li.on{ background:#f00; color:#fff;background:url(../img/banner-icon-hover.png) no-repeat center center; }
.banner .bd{ position:relative; height:100%; z-index:0;   }
.banner .bd li{ zoom:1; vertical-align:middle; }
.banner .bd img{ width:1200px; height:550px; display:block;  }
/* 下面是前/后按钮代码，如果不需要删除即可 */
.banner .prev,.banner .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../img/prev-next.png)-110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.banner .next{ left:auto; right:3%; background-position:8px 5px; }
.banner .prev:hover,
.banner .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.banner .prevStop{ display:none;  }
.banner.nextStop{ display:none;  }


/*布局*/
.h15{height:15px;}
.h25{height:25px;}
.column-f3{width:386px;}
.m21{margin-left:21px;margin-right:21px;}
.mt-21{margin-right:21px;}
.mt-20{margin-right:20px;}
.column-f1{width:793px;margin-right:21px;}
.column-f2{width:590px;}

.h430{height:430px;}

.h3-title{height:45px;line-height:45px;border-bottom:1px solid #f2f2f2;font-size:18px;}
.h3-title span{
	padding-left: 35px;
	display: block;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #24407f;
}
.h3-title a{font-size:14px;color:#24407f;}
.h3-title a:hover{text-decoration:underline;}

.new-icon{background:url(../img/new-sch-icon.png) no-repeat center left;width:80px;}
.scl-icon{background:url(../img/notice-icon.png) no-repeat center left;width:80px;}
.dqgz-icon{background:url(../img/dqgz-icon.png) no-repeat center left;width:80px;}
.xsk-icon{background:url(../img/sec-b-icon.png) no-repeat center left;width:80px;}
.bkj-icon{background:url(../img/bks-icon.png) no-repeat center left;width:80px;}
.yjs-icon{background:url(../img/yjs-icon.png) no-repeat center left;width:100px;}
.djg-icon{background:url(../img/djyd-icon.png) no-repeat center left;width:120px;}
.stu-icon{background:url(../img/xsgz-icon.png) no-repeat center left;width:75px;}
.ghgz-icon{background:url(../img/ghgz-icon.png) no-repeat center left;width:95px;}
.egl-icon{background:url(../img/dxwy-icon.png) no-repeat center left;width:75px;}
.sci-icon{background:url(../img/kxyj-icon.png) no-repeat center left;width:75px;}
.ztzl-icon{background:url(../img/ztzl-icon.png) no-repeat center left;width:80px;}
.jxjg-icon{background:url(../img/jxjg-icon.png) no-repeat center left;width:80px;}
.club-icon{background:url(../img/yjzx-icon.png) no-repeat center left;width:150px;}
.link-icon{background:url(../img/link-icon.png) no-repeat center left;width:80px;}
/*main1*/
.main1{height:370px;background:#fff;}
.turn-pic{height:270px;margin-top:15px;}

.new-list{border-bottom:1px solid #efeded;height:81px;}

.new-list1{border-bottom:1px solid #efeded;height:70px;}

.new-list2{border-bottom:1px solid #efeded;height:53px;}

.time-new{color:#b8b8b8;padding-left:20px;font-size:12px;height:14px;line-height:14px;padding-top:3px;}
.new-list-icon{background:url(../img/new-turn-icon.png) no-repeat center left;padding-left:20px;line-height:40px;font-size:15px;}
.new-list-icon:hover{color:#24407f;}
/*main2*/
.main2{height:200px;background:#f8f8f8;}
.gundong{padding-top:30px;}
.sty-list{display:block;margin-top:12px;line-height:30px;font-size:15px;height:80px;}
.sty-list p{color:#999;font-size:12px;line-height:20px;}
.sty-list:hover{color:#24407f;}
.sty-time{background:#DADADA;display:block;width:85px;margin-left:15px;height:60px;margin-top:15px;text-align:center;padding-top:5px;color:#333;}
.sty-time span{display:block;text-align:center;font-size:18px;font-weight:bold;line-height:30px;color:#BA2A17; }

.bkj-list{display:block;padding-top:15px;line-height:30px;font-size:15px;}
.bkj-list span{color:#b8b8b8;float:right;}
.bkj-list:hover{color:#24407f;}

.yjs-lm{width:120px;margin-right:15px;height:60px;margin-top:15px;text-align:center;line-height:60px;background:#d7d7d7;font-size:16px;color:#24407f; }
.yjs-list{width:251px;display:block;margin-top:15px;line-height:30px;}
.yjs-list:hover{color:#24407f;}

/*main3*/
/*.main3{height:465px;background:#f8f8f8;}*/
.main3{height:360px;background:#f5f5f5;}


/*main4*/

/*.main4{height:465px;}*/

.main4{height:370px;background:#f5f5f5}
.ztzl-pic-wrap{background:#fff;height:275px;margin-top:20px;}
.ztzl-pic-wrap ul{padding-top:51px;}
.ztzl-pic-wrap ul li{float:left;width:163px;margin-left:30px;margin-bottom:50px;height:93px;background:red;}
.ztzl-pic-wrap ul li:hover{background:#f29901; display:block;}
.ztzl-pic-wrap ul li img{width:163px;height:93px;}



/*link-clbb*/
.link-clbb{background:#f2eee5;height:190PX;}
.column-f2-li{margin-top:10px;}
.column-f2-li li{float:left;height:35px;line-height:35px;width:181px;margin-left:15px;}
.column-f2-li a{font-size:15px;}
.column-f2-li a:hover{text-decoration:underline;}
/*foot*/
.wid1200{width:1200px;margin-left:auto;margin-right:auto;}
.foot{
	background: url(../images/footerbg.jpg);
	width: 100%;
	float: left;
	color: #fff;
	font-size: 14px;
	padding: 30px 0;
	height: 150px;
	text-align: center;
}
.foot-left{ line-height:26px; float:left;}
.foot-right{
	float: left;
	padding-left: 80px;
}
.clearfix{zoom:1}
.clearfix:after{display:block;visibility:hidden;height:0;clear:both;font-size:0;content:"."}
.f_link{

}
.f_link li{
	position: relative;
	margin-bottom: 6px;
	float: left;
	padding-right: 20px;




	background: url(
../images/arrow.png,right 50%);				margin-right: 30px;
	background: url(../images/arrow.png) right 50% no-repeat;
	padding-left: 20px;
}
.f_link h3 a{font-size:14px;color:#fff;font-weight:normal}
.f_link .con{
	display: none;
	position: absolute;
	left: 0;
	padding: 6px 8px;
	border: 1px solid #ddd;
	bottom: 34px;
	background: #fff;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	max-height: 420px;
_height:expression((document.documentElement.clientHeight||document.body.clientHeight)<420?"420px":"");	overflow-y: auto;
}
.f_link .con a{display:block;color:#333;line-height:36px;font-size:12px;white-space:nowrap;border-top:1px solid #ddd;padding:0 12px}
.f_link .con a:first-child{border-top:none}
.f_link .con a:hover{color:#ae1317}
.f_link_right{
	display: block;
	float: right;
	height: 150px;
}
.footerlogo{
	display: block;
}
.footerinfo{
	display: block;
	margin-top: 20px;
}
.flr-logo{width:350px;margin-top:50px;text-align:center;}
.flr-logo p{color:#fff;margin-top:-10px;height:30px;line-height:30px;}

.flr-link{width:850px;margin-top:60px;}
.flr-link a{display:block;float:left;color:#fff;width:150px;line-height:35px;text-align:left;margin-left:20px;font-size:15px;}
.flr-link a:hover{text-decoration:underline;}


/*list*/

.subbanner{height:350px}
.subbanner img{width:1200px;height:350px}


.sublt{width:220px; position:relative;}
.sublt h3{width:220px; height:118px; line-height:118px; display:block;font-size:35px;color:#ffffff;background-image:url(../img/nav-bj.png); position:absolute; z-index:88; top:-70px;text-align:center}
.sublt ul{padding-top:47px; display:block; background:#f1f7fe; min-height:900px}
.sublt li{height:54px;line-height:54px; font-size:16px;text-align: center; margin:0 0 3px 0}
.sublt li a{display:block}
.sublt li a:hover{background-color:#142f6a;color:#fff;}
.sublt li a.hover{background-color:#142f6a;color:#fff;}

.subrt{width:950px; min-height:600px;padding-bottom:15px;}
.tabloid-tit{height:50px; padding:18px 0 0 0;border-bottom:solid 1px #dadada}
.tabloid-tit h2{font-size:24px; line-height:50px; background:url(../img/subico.jpg) no-repeat 0 center; padding:0 0 0 20px; float:left}
.tabloid-tit p{ float:right; line-height:50px; height:50px; width:450px; text-align:right}
.tabloid-tit p a:hover{text-decoration:underline;color:#8c0000;}
.subrt-cont{padding:10px 0 0 0; font-size:16px; line-height:26px}
.News{padding:0}
.News li{font-size:16px; line-height:55px; background:url(../img/line.jpg) repeat-x 0 bottom}
.News li font{color:#b9b9b9; float:right}
.News li a{background:url(../img/li.jpg) no-repeat 10px center; padding:0 0 0 25px}
.News li a:hover{color:#8c0000;text-decoration:underline;}

.page{width:500px; margin:0 auto; padding:65px 0 0 0; height:100px}
.page a {margin:0 2px; padding:0 10px; height:30px; line-height:30px; color:#515151; text-align:center; text-decoration:none; border:1px solid #cccccc; float:left; display:block}
.page a:hover{color:#bd0004; border:1px solid #bd0004}
.moreCont{padding:50px 0}
.moreCont h2{font-size:24px; color:#295eb2; text-align:center;  padding:0 40px 40px}
.subTime{height:38px; background:#eff5fe; text-align:center; line-height:38px; color:#586b86}
.subMid{padding:20px 0 0 0}
.subMid img{display:block; height:auto; margin:0 auto}
.subMid p{font-size:16px; line-height:28px;text-indent:2em;}

.teach-list{margin-bottom:5px;margin-top:20px;margin-left:2px;}
.teach-list li{float:left;width:237px;text-align:left;line-height:30px;}
.teach-list li a{font-size:16px;}
.teach-list li a:hover{color:#8c0000;}
.tab_tit{margin: 20px 10px 50px;}
.tab_tit a{display:inline-block;min-width:100px;line-height:34px;border-radius: 34px;background: #eee;padding: 0px 20px;margin: 0 10px;}
.tab_tit .on,.tab_tit .on:hover{background:#6f60aa;color:#fff;}
.cover_bg,.cover_img >div:first-child{background-position:50%;background-repeat:no-repeat;background-size:cover;}
.cover_img{position:relative;overflow:hidden;}
a:hover .cover_img >div:first-child,.cover_img:hover >div:first-child{-webkit-transform:scale(1.1);transform:scale(1.1);}
.slick_link .cover_bg:hover{-webkit-transform:translateY(-6px);transform:translateY(-6px);box-shadow:0 2px 5px rgba(0,0,0,.1);}
.link_news a:hover i{-webkit-transform:scale(.95);transform:scale(.95);}
.cover_img div:first-child{position:absolute;top:0;left:0;width:100%;height:100%;}
.list_download {margin:-25px -17px;}
.list_download .cover_bg{padding-top:64.38%;position:relative;z-index: 99;background-size: auto;background-color: #fff;}
.list_download a{position:relative;float:left;width:calc(33.333333% - 34px);margin:25px 17px;background:#fff;color: #5c7445;}
.list_download a:hover{transform:translateY(30px);box-shadow:0 6px 20px rgba(25,40,118,.2);}
.list_download a:hover .cover_bg{transform:translateY(-60px);}
.list_download p{
	line-height: 60px;
	position: absolute;
	left: 0px;
	right: 0;
	bottom: 0px;
	z-index: 1;
	background: #6f60aa;
	color: #fff;
	text-align: center;
}
.i_download{width:23px;height:20px;background:url(../images/i_download.jpg) 50% no-repeat;margin:0 0 0 8px;}
#vsb_content table{ border: 0px; margin:20px auto}
#vsb_content table tr td{ border-left:0px;border-top:0px;line-height: 23px; padding: 5px;  }
#vsb_content table tr td p{text-indent:0em; padding:0px; margin:0px;  }
